@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap; /*Permite quebrar linha, pois cada filho ocupa 100vw*/
    height: 100vh;
    flex: 1 1 100vw; /*Crescimento e redução iguais para ocupar o mesmo espaço, e ocupando 100vw disponivel*/
}

header, nav, main, aside, footer {
    display: flex;
    margin: 3px;
    background-color: #a1a1a1;

}

header {
    flex: 1 1 100vw;
    height: 100px;
}

header #logo {
    flex: 0 0 300px;
    background-color: #c9c9c9;
}

#openMenu, #closeMenu {
    border: none;
    background-color: #a1a1a1;
    font-size: 30px;
    font-weight: bold;
    padding: 0 5px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    margin: 3%;
    font-size: 1.65em;
}

a {
    text-decoration: none;
    color: inherit;

}

main {
    flex-direction: column;
    flex: 20 1 500px;
    min-height: calc(100vh - 218px);
    padding: 20px;
}

aside {
    flex: 1 1 200px;
}

footer {
    flex: 1 1 100vw;
    height: 100px;
}

@media screen and (max-width: 717px) {
    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu {
        margin: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
        background-color: rgba(255, 255, 255, 0);
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.8);
        justify-content: center;
        align-items: center;
        display: none;
    }
}

@media screen and (max-width : 923px){
    main {
        min-height: calc(100vh - 324px);
    }
    aside {
        flex: 1 1 100vw;
        height: 100px;
    }
}
